@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes border-rotate {
    0% {
      border-color: rgba(255, 255, 255, 0);
    }
    50% {
      border-color: rgba(255, 255, 255, 1);
    }
    100% {
      border-color: rgba(255, 255, 255, 0);
    }
  }
  
  .animate-border-rotate:hover {
    animation: border-rotate 0.5ms linear infinite;
  }

/*.side{
    @apply p-3 my-2 duration-75 rounded-full hover:border-b-[1px] border-[#CBCBCB] ;
}*/
.side a{
    @apply p-3 my-2 duration-75 rounded-md hover:bg-[#7c7c7c28] block;
}

.titlesidebar{
    @apply p-1 my-2 text-xl font-bold border-b-[1px] border-[#CBCBCB] pb-[10px] border-opacity-50;
}
.inputs{
  @apply w-full h-8 p-3 text-white bg-gray-600 rounded-md md:w-full lg:w-full hover:ring-2 hover:ring-slate-400 lg:h-8 md:h-5;
}
.sp{
  @apply md:space-y-0 lg:space-y-2;
}
.drop{
  @apply w-full bg-gray-600 border-0 rounded-md h-9 hover:ring-2 hover:ring-slate-400;
}
.card{
  @apply w-full p-3 bg-black bg-opacity-50 rounded-md h-fit hover:ring-2 hover:ring-slate-50;
}
.jobtype{
  @apply text-2xl font-bold hover:underline text-slate-50;
}
.dept{
  @apply  my-1 text-slate-50 hover:underline opacity-80;
}
.smoldesc{
  @apply mt-1 text-cb;
}
.time{
  @apply self-end p-1 text-red-600 bg-gray-700 rounded-md w-fit h-fit;
}
.headsearch{
  background-image: url(/public/images/bg.png);
}
.jobsortopt{
  @apply w-[30%] p-1 bg-gray-300 rounded-2xl;
}